.buttons {
	width: 100%;
	display: flex;
	justify-content: center;

	@media (max-width: $layout-breakpoint) {
		flex-direction: column;
		align-items: center;
	}
}

.btn {
	height: 150px;
	width: 300px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: $font;
	font-size: 3rem;
	color: white;
	border: 2px solid rgb(74, 74, 74);
	border-radius: 5px;
	transition: $transition;

	@media (max-width: $layout-breakpoint) {
		height: 120px;
		width: 240px;
	}

	&:hover {
		font-size: 3.1rem;
		box-shadow: $shadow;
		cursor: pointer;
	}

	&:visited,
	&:focus,
	&:active {
		box-shadow: none;
		font-size: 3rem;
	}

	&__start {
		background-color: rgb(106, 217, 137);
		margin-right: 30px;

		@media (max-width: $layout-breakpoint) {
			margin-right: 0;
			margin-bottom: 20px;
		}
	}

	&__stop {
		background-color: tomato;
	}

	&__disabled {
		background-color: gray;
		color: lightgray;
		border-color: gray;
		pointer-events: none;
	}
}

.color-container {
	width: 200px;
	height: 100px;
	margin-top: 20px;
	background-color: white;
	border-radius: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: $shadow;
}
