body {
	background-color: bisque;
	font-family: $font;
	margin: 0;
	padding: 0;
	height: 100vh;
	transition: $transition;
}

.container {
	padding: 20px;
}

.content {
	width: 100%;
	height: calc(100vh - 100px);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
